* {
  font-family: "Noto Sans", sans-serif;
}
:root {
  --main-color: #030303;
  --secondary-color: #3b3b3b;
  --third-color: #8f8f8f;
  --black: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: red; */
  width: 100vw;
}

header h1 {
  font-size: 50px;
  color: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: green; */
  width: 100%;
}

main > * {
  cursor: pointer;
}

main .note-element {
  color: var(--secondary-color);
  padding: 20px;
  width: 50%;
  margin: 10px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.5);
  transition: 1s linear;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .note-element #show-note {
  width: 100%;
}

main .note-element-content {
  display: flex;
  flex-direction: column;
}

main .note-element-content #note-title {
  margin-bottom: 0px;
}

main #note-delete-button {
  color: #f26874;
  background-color: rgba(163, 163, 163, 0);
  font-size: 40px;
  border: none;
  outline: none;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

main #note-delete-button:hover {
  color: #fff;
  background-color: #f26874;
  font-size: 40px;
  border: none;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 100px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .note-element:hover {
  color: var(--main-color);
  background-color: rgba(163, 163, 163, 0.2);
  padding: 20px;
  width: 90%;
}

main #create-note-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in;
}

main #create-note-button:hover {
  position: fixed;
  width: 200px;
  height: 66px;
  bottom: 44px;
  right: 44px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .note-element #note-date {
  font-size: 15px;
  color: rgba(163, 163, 163, 0.9);
  margin-top: 0px;
}
